.container{   
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
 
}  





.mainCard{
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid black 1px;
    border-radius: 50px;
    padding: 100px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #284699;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

.button:hover {background-color: #0c66af}

.button:active {
  background-color: #03246d;
  box-shadow: 0 0px#666;
  transform: translateY(4px);
}

.previousResults {
    border: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}

.temp {
    border: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}

.mainBodyHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerText {
  font-size: 48px;
}