.container{   
    display: flex;
    justify-content: center;
}  

.mainCard{
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid black 1px;
    border-radius: 50px;
    padding: 100px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}

.previousResults {
    border: black;
    border-style: solid;
    border-width: 100px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}